@import "../style/color";
@import "../style/constant";
@import "../components/table/table.scss";

.xo-api-left {
  position: fixed;
  top: .95rem;
  width: 2.35rem;
  max-height: 83%;
  overflow: auto;
  border: 1px solid $light-gray;
  background-color: $white;

  @media (max-width: $lg-width) { display: none;}

  &::before { content: " "; display: table; }
  &::after { content: " "; clear: both; display: table; }

}

.xo-api-right {
  margin-left: 2.6rem;
  display: block;
  @media (max-width: $lg-width) { margin-left: 0; }

  .xo-api-right-toggle {
    background-color: $white;
    border: 1px solid $light-gray;
    &.active {
      border-color: $primary;
    }
  }
}

.xo-api-left-list {

  padding: 0 10px;

  ul {
    display: block;
    margin: 0;
    padding: .05rem;
    list-style: none;
    li {
      display: list-item;
      padding: .04rem;
      cursor: pointer;
      border: 1px solid #ececec;
      border-bottom: 0;
      background-color: #f5f5f5;
      &:last-child {
        border-bottom: 1px solid #ececec;
      }
      &:hover {
        background-color: #efefef;
        color: #949494;
      }
      &.active {
        background-color: #53a2e6;
        color: $white;
      }

    }

    &.xo-api-left-ul {
      padding: 0;
      li {
        border-width: 0;
        background-color: $white;
        &:hover {
          background-color: $white;
          color: inherit;
          border-width: 0;
        }
        &:last-child { border-width: 0;}
        & div:first-child {
          padding: .04rem;
          margin: -.04rem;
          //background-color: #f5f5f5;
          font-size: .16rem;
          border-width: 0;
          &::before {
            transition: .25s transform ease;
            content: "\F107";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            float: right;
            margin-top: 2px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            transform: rotate(90deg);
          }
        }
        ul {
          padding: .02rem;
          margin-top: .03rem;
          //transition: .5s all ease;
          li {
            background-color: transparent;
            border-width: 0;
            color: #777;
            &:last-child { border-width: 0;}
            &:hover { background-color: transparent; }
            &.xo-active {
              color: $primary;
              border-width: 1px 0px;
              border-style: solid;
              border-color: $primary;
              &::after {
                content: '';
                display: inline-block;
                border-width: 10px 10px 10px 0px;
                border-style: solid;
                border-color: transparent $primary transparent transparent;
                position: absolute;
                right: 0;
              }
            }
          }
        }
        &.xo-active {
          //ul { display: none; }
          & div:first-child::before { transform: rotate(0deg); }
        }

      }
    }
  }
}

.xo-base-api {
  background-color: $white;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 0;

  .xo-base-api-row {
    padding: .05rem;
  }

  @media (min-width: $lg-width) {
    & {
      display: table;
    }

    .xo-base-api-row {
      display: table-row;
    }

    .xo-base-api-left,.xo-base-api-right {
      display: table-cell;
      float: none;
      vertical-align: top;
      padding-top: .1rem;
      padding-bottom: .1rem;
    }

  }

  .xo-base-api-left {
    border-right: 1px solid #e5e5e5;
  }

  .xo-base-api-right {
    p {
      margin: 1em 0;
      color: #5d5d5d;
      font-size: .15rem;
      //white-space: pre;
    }
  }

}

.xo-demo-block {

  margin-bottom: 15px;

  [class*=xo-col-],* {
    padding: 10px;
    text-align: center;
    color: $white;

    &:nth-child(odd) {
      background-color: rgb(0, 162, 236);
    }
    &:nth-child(even) {
      background-color: rgba(0, 162, 236, .8);
    }
  }

}

.xo-demo-flex-layout-desc {
  background-image: url('../images/flex-layout-desc.png');
  height: 350px;
  width: 560px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
