@import "../../style/color";

.xo-tabs {

  position: relative;

  &::before { content: " "; display: table; }
  &::after { content: " "; clear: both; display: table; }

  .xo-tabs-list {

    &.xo-tabs-list-top {

      $topHeight: 30px;

      position: absolute;
      width: 100%;
      height: $topHeight;
      top: 0;

      border-bottom: 1px solid $light-gray;

      .xo-tabs-list-nav {
        position: relative;
      }

      .xo-tabs-tab {
        display: inline-block;
        padding: 5px 10px;
      }

      .xo-tabs-bar {
        position: absolute;
        height: 2px;
        bottom: 0;
        background-color: $primary;
      }

      &+.xo-tabs-content {
        margin-top: $topHeight;
        overflow: hidden;

        .xo-tabs-content-scroll {
          display: flex;
          position: relative;
          transition: left .3s ease 0s;

          .xo-tabs-pane {

            flex-shrink: 0;
            transition: opacity .23s ease .1s, height .1s ease .28s;
            width: 100%;
            height: 0;
            opacity: 0;

            &.xo-active {
              height: auto;
              opacity: 1;
            }

          }
        }

      }

    }

    .xo-tabs-tab {
      position: relative;
      cursor: pointer;
      color: $gray;
      border: 0;

      &.xo-active {
        color: $primary;
      }

      .xo-icon-close
      {
        position: absolute;
        right: -5px;
        font-size: 20px;
        width: 16px;
        height: 16px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        font-weight: 200;
        color: #b9b9b9;
        opacity: 0;
        transition: opacity .15s ease;
        &:hover { color: #252525; }
      }

      &:hover .xo-icon-close
      {
        opacity: 1;
      }

    }

    .xo-tabs-bar {
      transition: transform 0.3s ease;
    }

  }

  .xo-tabs-content {

    .xo-tabs-pane {

      position: relative;
      padding: 10px;

      .xo-tabs-pane-modal {
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: transparent;
        position: absolute;
        //transition: height .05s ease .6s;
      }

      &.xo-active .xo-tabs-pane-modal{
        display: none;
        //height: 0;
      }

    }

  }

  .xo-tabs-add
  {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    border: 1px solid #ddd;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 13px;
    border-radius: 3px;
    color: #a2a2a2;
    font-weight: 100;
    cursor: pointer;
    &:hover { color: $primary; border-color: $primary; }
  }

}
