/*  颜色  */
//亮黑色
$light-black : #222;
.bg-light-black { background-color: $light-black; }
.font-light-black { color: $light-black; }
.border-light-black { border-color: $light-black; }

//黑色
$black : #000;
.bg-black { background-color: $black; }
.font-black { color: $black; }
.border-black { border-color: $black; }

//白色
$white : #fff;
.bg-white { background-color: $white; }
.font-white { color: $white; }
.border-white { border-color: $white; }
