/*  布局  */
@import "constant";
// 容器
.container {
  @media (min-width: $min-width) { width: 7.50rem; }
  @media (min-width: $med-width) { width: 9.70rem; }
  @media (min-width: $max-width) { width: 11.7rem; }
  padding: 0 .15rem;
  margin: auto;
  position: relative;
}

.container {
  &::before { content: " "; display: table; }
  &::after { content: " "; clear: both; display: table; }
}

//水平剧中
.horizontal {
  margin: 0 auto;
  &.horizontal-v {
    height: 100%;
    display: table;
  }
  .vertical {
    display: table-cell;
    vertical-align: middle;
  }
}

//position 定位
.pos-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.pos-relative {
  position: relative;
}
