/*  布局  */
@import "constant";
// 容器
.xo-container {
  //@media (min-width: $sm-width) { width: 540px; }
  @media (min-width: $md-width) { width: 7.50rem; }
  @media (min-width: $lg-width) { width: 9.70rem; }
  @media (min-width: $xl-width) { /*width: 11.70rem;*/ width: 98%; }
  padding: 0 .15rem;
  margin: auto;
  position: relative;
  background-color:inherit;
}

.xo-container, .xo-row, .xo-layout {
  display: block;
  &::before { content: " "; display: table; }
  &::after { content: " "; clear: both; display: table; }
}

.xo-row {
  margin-right: -15px;
  margin-left: -15px;
}

.xo-col-xs,
.xo-col-xs-1,
.xo-col-xs-2,
.xo-col-xs-3,
.xo-col-xs-4,
.xo-col-xs-5,
.xo-col-xs-6,
.xo-col-xs-7,
.xo-col-xs-8,
.xo-col-xs-9,
.xo-col-xs-10,
.xo-col-xs-11,
.xo-col-xs-12,
.xo-col-sm,
.xo-col-sm-1,
.xo-col-sm-2,
.xo-col-sm-3,
.xo-col-sm-4,
.xo-col-sm-5,
.xo-col-sm-6,
.xo-col-sm-7,
.xo-col-sm-8,
.xo-col-sm-9,
.xo-col-sm-10,
.xo-col-sm-11,
.xo-col-sm-12,
.xo-col-md,
.xo-col-md-1,
.xo-col-md-2,
.xo-col-md-3,
.xo-col-md-4,
.xo-col-md-5,
.xo-col-md-6,
.xo-col-md-7,
.xo-col-md-8,
.xo-col-md-9,
.xo-col-md-10,
.xo-col-md-11,
.xo-col-md-12,
.xo-col-lg,
.xo-col-lg-1,
.xo-col-lg-2,
.xo-col-lg-3,
.xo-col-lg-4,
.xo-col-lg-5,
.xo-col-lg-6,
.xo-col-lg-7,
.xo-col-lg-8,
.xo-col-lg-9,
.xo-col-lg-10,
.xo-col-lg-11,
.xo-col-lg-12,
.xo-col-xl,
.xo-col-xl-1,
.xo-col-xl-2,
.xo-col-xl-3,
.xo-col-xl-4,
.xo-col-xl-5,
.xo-col-xl-6,
.xo-col-xl-7,
.xo-col-xl-8,
.xo-col-xl-9,
.xo-col-xl-10,
.xo-col-xl-11,
.xo-col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

.xo-col-xs-1 {
  float: left;
  width: 8.333333%;
}

.xo-col-xs-2 {
  float: left;
  width: 16.666667%;
}

.xo-col-xs-3 {
  float: left;
  width: 25%;
}

.xo-col-xs-4 {
  float: left;
  width: 33.333333%;
}

.xo-col-xs-5 {
  float: left;
  width: 41.666667%;
}

.xo-col-xs-6 {
  float: left;
  width: 50%;
}

.xo-col-xs-7 {
  float: left;
  width: 58.333333%;
}

.xo-col-xs-8 {
  float: left;
  width: 66.666667%;
}

.xo-col-xs-9 {
  float: left;
  width: 75%;
}

.xo-col-xs-10 {
  float: left;
  width: 83.333333%;
}

.xo-col-xs-11 {
  float: left;
  width: 91.666667%;
}

.xo-col-xs-12 {
  float: left;
  width: 100%;
}

.xo-pull-xs-0 {
  right: auto;
}

.xo-pull-xs-1 {
  right: 8.333333%;
}

.xo-pull-xs-2 {
  right: 16.666667%;
}

.xo-pull-xs-3 {
  right: 25%;
}

.xo-pull-xs-4 {
  right: 33.333333%;
}

.xo-pull-xs-5 {
  right: 41.666667%;
}

.xo-pull-xs-6 {
  right: 50%;
}

.xo-pull-xs-7 {
  right: 58.333333%;
}

.xo-pull-xs-8 {
  right: 66.666667%;
}

.xo-pull-xs-9 {
  right: 75%;
}

.xo-pull-xs-10 {
  right: 83.333333%;
}

.xo-pull-xs-11 {
  right: 91.666667%;
}

.xo-pull-xs-12 {
  right: 100%;
}

.xo-push-xs-0 {
  left: auto;
}

.xo-push-xs-1 {
  left: 8.333333%;
}

.xo-push-xs-2 {
  left: 16.666667%;
}

.xo-push-xs-3 {
  left: 25%;
}

.xo-push-xs-4 {
  left: 33.333333%;
}

.xo-push-xs-5 {
  left: 41.666667%;
}

.xo-push-xs-6 {
  left: 50%;
}

.xo-push-xs-7 {
  left: 58.333333%;
}

.xo-push-xs-8 {
  left: 66.666667%;
}

.xo-push-xs-9 {
  left: 75%;
}

.xo-push-xs-10 {
  left: 83.333333%;
}

.xo-push-xs-11 {
  left: 91.666667%;
}

.xo-push-xs-12 {
  left: 100%;
}

.xo-offset-xs-1 {
  margin-left: 8.333333%;
}

.xo-offset-xs-2 {
  margin-left: 16.666667%;
}

.xo-offset-xs-3 {
  margin-left: 25%;
}

.xo-offset-xs-4 {
  margin-left: 33.333333%;
}

.xo-offset-xs-5 {
  margin-left: 41.666667%;
}

.xo-offset-xs-6 {
  margin-left: 50%;
}

.xo-offset-xs-7 {
  margin-left: 58.333333%;
}

.xo-offset-xs-8 {
  margin-left: 66.666667%;
}

.xo-offset-xs-9 {
  margin-left: 75%;
}

.xo-offset-xs-10 {
  margin-left: 83.333333%;
}

.xo-offset-xs-11 {
  margin-left: 91.666667%;
}

@media (min-width: $sm-width) {
  .xo-col-sm-1 {
    float: left;
    width: 8.333333%;
  }
  .xo-col-sm-2 {
    float: left;
    width: 16.666667%;
  }
  .xo-col-sm-3 {
    float: left;
    width: 25%;
  }
  .xo-col-sm-4 {
    float: left;
    width: 33.333333%;
  }
  .xo-col-sm-5 {
    float: left;
    width: 41.666667%;
  }
  .xo-col-sm-6 {
    float: left;
    width: 50%;
  }
  .xo-col-sm-7 {
    float: left;
    width: 58.333333%;
  }
  .xo-col-sm-8 {
    float: left;
    width: 66.666667%;
  }
  .xo-col-sm-9 {
    float: left;
    width: 75%;
  }
  .xo-col-sm-10 {
    float: left;
    width: 83.333333%;
  }
  .xo-col-sm-11 {
    float: left;
    width: 91.666667%;
  }
  .xo-col-sm-12 {
    float: left;
    width: 100%;
  }
  .xo-pull-sm-0 {
    right: auto;
  }
  .xo-pull-sm-1 {
    right: 8.333333%;
  }
  .xo-pull-sm-2 {
    right: 16.666667%;
  }
  .xo-pull-sm-3 {
    right: 25%;
  }
  .xo-pull-sm-4 {
    right: 33.333333%;
  }
  .xo-pull-sm-5 {
    right: 41.666667%;
  }
  .xo-pull-sm-6 {
    right: 50%;
  }
  .xo-pull-sm-7 {
    right: 58.333333%;
  }
  .xo-pull-sm-8 {
    right: 66.666667%;
  }
  .xo-pull-sm-9 {
    right: 75%;
  }
  .xo-pull-sm-10 {
    right: 83.333333%;
  }
  .xo-pull-sm-11 {
    right: 91.666667%;
  }
  .xo-pull-sm-12 {
    right: 100%;
  }
  .xo-push-sm-0 {
    left: auto;
  }
  .xo-push-sm-1 {
    left: 8.333333%;
  }
  .xo-push-sm-2 {
    left: 16.666667%;
  }
  .xo-push-sm-3 {
    left: 25%;
  }
  .xo-push-sm-4 {
    left: 33.333333%;
  }
  .xo-push-sm-5 {
    left: 41.666667%;
  }
  .xo-push-sm-6 {
    left: 50%;
  }
  .xo-push-sm-7 {
    left: 58.333333%;
  }
  .xo-push-sm-8 {
    left: 66.666667%;
  }
  .xo-push-sm-9 {
    left: 75%;
  }
  .xo-push-sm-10 {
    left: 83.333333%;
  }
  .xo-push-sm-11 {
    left: 91.666667%;
  }
  .xo-push-sm-12 {
    left: 100%;
  }
  .xo-offset-sm-0 {
    margin-left: 0%;
  }
  .xo-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .xo-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .xo-offset-sm-3 {
    margin-left: 25%;
  }
  .xo-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .xo-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .xo-offset-sm-6 {
    margin-left: 50%;
  }
  .xo-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .xo-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .xo-offset-sm-9 {
    margin-left: 75%;
  }
  .xo-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .xo-offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $md-width) {
  .xo-col-md-1 {
    float: left;
    width: 8.333333%;
  }
  .xo-col-md-2 {
    float: left;
    width: 16.666667%;
  }
  .xo-col-md-3 {
    float: left;
    width: 25%;
  }
  .xo-col-md-4 {
    float: left;
    width: 33.333333%;
  }
  .xo-col-md-5 {
    float: left;
    width: 41.666667%;
  }
  .xo-col-md-6 {
    float: left;
    width: 50%;
  }
  .xo-col-md-7 {
    float: left;
    width: 58.333333%;
  }
  .xo-col-md-8 {
    float: left;
    width: 66.666667%;
  }
  .xo-col-md-9 {
    float: left;
    width: 75%;
  }
  .xo-col-md-10 {
    float: left;
    width: 83.333333%;
  }
  .xo-col-md-11 {
    float: left;
    width: 91.666667%;
  }
  .xo-col-md-12 {
    float: left;
    width: 100%;
  }
  .xo-pull-md-0 {
    right: auto;
  }
  .xo-pull-md-1 {
    right: 8.333333%;
  }
  .xo-pull-md-2 {
    right: 16.666667%;
  }
  .xo-pull-md-3 {
    right: 25%;
  }
  .xo-pull-md-4 {
    right: 33.333333%;
  }
  .xo-pull-md-5 {
    right: 41.666667%;
  }
  .xo-pull-md-6 {
    right: 50%;
  }
  .xo-pull-md-7 {
    right: 58.333333%;
  }
  .xo-pull-md-8 {
    right: 66.666667%;
  }
  .xo-pull-md-9 {
    right: 75%;
  }
  .xo-pull-md-10 {
    right: 83.333333%;
  }
  .xo-pull-md-11 {
    right: 91.666667%;
  }
  .xo-pull-md-12 {
    right: 100%;
  }
  .xo-push-md-0 {
    left: auto;
  }
  .xo-push-md-1 {
    left: 8.333333%;
  }
  .xo-push-md-2 {
    left: 16.666667%;
  }
  .xo-push-md-3 {
    left: 25%;
  }
  .xo-push-md-4 {
    left: 33.333333%;
  }
  .xo-push-md-5 {
    left: 41.666667%;
  }
  .xo-push-md-6 {
    left: 50%;
  }
  .xo-push-md-7 {
    left: 58.333333%;
  }
  .xo-push-md-8 {
    left: 66.666667%;
  }
  .xo-push-md-9 {
    left: 75%;
  }
  .xo-push-md-10 {
    left: 83.333333%;
  }
  .xo-push-md-11 {
    left: 91.666667%;
  }
  .xo-push-md-12 {
    left: 100%;
  }
  .xo-offset-md-0 {
    margin-left: 0%;
  }
  .xo-offset-md-1 {
    margin-left: 8.333333%;
  }
  .xo-offset-md-2 {
    margin-left: 16.666667%;
  }
  .xo-offset-md-3 {
    margin-left: 25%;
  }
  .xo-offset-md-4 {
    margin-left: 33.333333%;
  }
  .xo-offset-md-5 {
    margin-left: 41.666667%;
  }
  .xo-offset-md-6 {
    margin-left: 50%;
  }
  .xo-offset-md-7 {
    margin-left: 58.333333%;
  }
  .xo-offset-md-8 {
    margin-left: 66.666667%;
  }
  .xo-offset-md-9 {
    margin-left: 75%;
  }
  .xo-offset-md-10 {
    margin-left: 83.333333%;
  }
  .xo-offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $lg-width) {
  .xo-col-lg-1 {
    float: left;
    width: 8.333333%;
  }
  .xo-col-lg-2 {
    float: left;
    width: 16.666667%;
  }
  .xo-col-lg-3 {
    float: left;
    width: 25%;
  }
  .xo-col-lg-4 {
    float: left;
    width: 33.333333%;
  }
  .xo-col-lg-5 {
    float: left;
    width: 41.666667%;
  }
  .xo-col-lg-6 {
    float: left;
    width: 50%;
  }
  .xo-col-lg-7 {
    float: left;
    width: 58.333333%;
  }
  .xo-col-lg-8 {
    float: left;
    width: 66.666667%;
  }
  .xo-col-lg-9 {
    float: left;
    width: 75%;
  }
  .xo-col-lg-10 {
    float: left;
    width: 83.333333%;
  }
  .xo-col-lg-11 {
    float: left;
    width: 91.666667%;
  }
  .xo-col-lg-12 {
    float: left;
    width: 100%;
  }
  .xo-pull-lg-0 {
    right: auto;
  }
  .xo-pull-lg-1 {
    right: 8.333333%;
  }
  .xo-pull-lg-2 {
    right: 16.666667%;
  }
  .xo-pull-lg-3 {
    right: 25%;
  }
  .xo-pull-lg-4 {
    right: 33.333333%;
  }
  .xo-pull-lg-5 {
    right: 41.666667%;
  }
  .xo-pull-lg-6 {
    right: 50%;
  }
  .xo-pull-lg-7 {
    right: 58.333333%;
  }
  .xo-pull-lg-8 {
    right: 66.666667%;
  }
  .xo-pull-lg-9 {
    right: 75%;
  }
  .xo-pull-lg-10 {
    right: 83.333333%;
  }
  .xo-pull-lg-11 {
    right: 91.666667%;
  }
  .xo-pull-lg-12 {
    right: 100%;
  }
  .xo-push-lg-0 {
    left: auto;
  }
  .xo-push-lg-1 {
    left: 8.333333%;
  }
  .xo-push-lg-2 {
    left: 16.666667%;
  }
  .xo-push-lg-3 {
    left: 25%;
  }
  .xo-push-lg-4 {
    left: 33.333333%;
  }
  .xo-push-lg-5 {
    left: 41.666667%;
  }
  .xo-push-lg-6 {
    left: 50%;
  }
  .xo-push-lg-7 {
    left: 58.333333%;
  }
  .xo-push-lg-8 {
    left: 66.666667%;
  }
  .xo-push-lg-9 {
    left: 75%;
  }
  .xo-push-lg-10 {
    left: 83.333333%;
  }
  .xo-push-lg-11 {
    left: 91.666667%;
  }
  .xo-push-lg-12 {
    left: 100%;
  }
  .xo-offset-lg-0 {
    margin-left: 0%;
  }
  .xo-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .xo-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .xo-offset-lg-3 {
    margin-left: 25%;
  }
  .xo-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .xo-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .xo-offset-lg-6 {
    margin-left: 50%;
  }
  .xo-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .xo-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .xo-offset-lg-9 {
    margin-left: 75%;
  }
  .xo-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .xo-offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $xl-width) {
  .col-xl-1 {
    float: left;
    width: 8.333333%;
  }
  .col-xl-2 {
    float: left;
    width: 16.666667%;
  }
  .col-xl-3 {
    float: left;
    width: 25%;
  }
  .col-xl-4 {
    float: left;
    width: 33.333333%;
  }
  .col-xl-5 {
    float: left;
    width: 41.666667%;
  }
  .col-xl-6 {
    float: left;
    width: 50%;
  }
  .col-xl-7 {
    float: left;
    width: 58.333333%;
  }
  .col-xl-8 {
    float: left;
    width: 66.666667%;
  }
  .col-xl-9 {
    float: left;
    width: 75%;
  }
  .col-xl-10 {
    float: left;
    width: 83.333333%;
  }
  .col-xl-11 {
    float: left;
    width: 91.666667%;
  }
  .col-xl-12 {
    float: left;
    width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.333333%;
  }
  .pull-xl-2 {
    right: 16.666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.333333%;
  }
  .pull-xl-5 {
    right: 41.666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.333333%;
  }
  .pull-xl-8 {
    right: 66.666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.333333%;
  }
  .pull-xl-11 {
    right: 91.666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.333333%;
  }
  .push-xl-2 {
    left: 16.666667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.333333%;
  }
  .push-xl-5 {
    left: 41.666667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.333333%;
  }
  .push-xl-8 {
    left: 66.666667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.333333%;
  }
  .push-xl-11 {
    left: 91.666667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

//水平居中
.xo-horizontal {
  margin: 0 auto;
  display: table;
  &.xo-horizontal-v {
    height: 100%;
  }
  .xo-vertical {
    display: table-cell;
    vertical-align: middle;
  }
}

//垂直居中
.xo-vertical {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.xo-left { display: block; float: left; }
.xo-right { display: block; float: right; }

//position 定位
.xo-pos-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.xo-pos-relative {
  position: relative;
}
