/*  导航栏  */
@import "constant";
@import "color";

.x-navbar {
  min-height: .5rem;
  @media (min-width: $md-width) { min-height: .4rem; }

  &.x-navbar-fixed-top, &.x-navbar-fixed-bottom {
    z-index: $nav-index;
    position: fixed;
    left: 0;
    right: 0;

    &.x-navbar-fixed-top {
      top: 0;
    }

    &.x-navbar-fixed-bottom {
        bottom: 0;
    }
  }

  .x-navbar-header {
    @media (min-width: $md-width) { float: left; margin: 0; }
    @media (max-width: $md-width) { border-bottom-width: .01rem; border-bottom-style: solid; }
    display: block;
    padding: 0;
    margin-left: -.15rem;
    margin-right: -.15rem;
  }

  .x-navbar-toggle {
    @media (min-width: $md-width) { display: none; }
    float: right;
    font-size: .18rem;
    position: relative;
    margin-top: .09rem;
    margin-right: .14rem;
    text-transform: none;
    border-radius: .03rem;
    border: .02rem solid;
    background-color: transparent;
  }

  .x-navbar-nav {
    @media (min-width: $md-width) {
      float: left;
      &.x-navbar-right {
        float: right;
      }
    }

    display: block;
    margin: 0;
    padding: 0;

    &.x-navbar-right {
      display: block;
    }
  }

  .x-navbar-brand {
    display: block;
    float: left;
    padding: .15rem;
    line-height: .2rem;
    font-size: .18rem;
    height: .5rem;
    color: inherit;
    @media (min-width: $md-width) {
      padding-top: 0;
      padding-bottom: 0;
      line-height: .42rem;
      height: .42rem;
    }
  }

  .x-navbar-collapse {
    @media (min-width: $md-width) { display: block; }
    display: none;
    &.x-collapsing {
      height: 0;
      position: relative;
      overflow: hidden;
      transition-timing-function: ease;
      transition-duration: .35s;
      transition-property: height;
      display: block;
    }
    &.x-in {
      display: block;
    }
  }
}

.x-nav {
  list-style: none;
  margin: 0;
  &>li {
    @media (min-width: $md-width) { float: left; }
    position: relative;
    display: block;
    &>a {
      display: block;
      position: relative;
      padding: .1rem .15rem;
    }
  }
}

.x-navbar, .x-navbar-header, .x-navbar-collapse, .x-nav, .x-nav-ul, .x-nav-ul-fluid {
  &::before { content: " "; display: table; }
  &::after { content: " ";  clear: both; display: table; }
}

.x-navbar-toggle, .x-navbar-brand, .x-nav>li {
  opacity: .6;
  &:hover {
    opacity: 1;
  }
}

.x-nav-progress {

  position: fixed;
  width: 100%;
  z-index: $nav-index + 1;
  height: 3px;

  div {
    background-color: $primary;
    width: 0;
    height: inherit;
    transition: width 1s ease;
  }

}

.x-nav-index {
  position: fixed;
  left: 0;
  right: 0;
  background-color : $white;
  box-shadow: 0 1px 3px $light-gray;
  font-size: .16rem;
  z-index: $nav-index - 1;
}

.x-nav-ul, .x-nav-ul-fluid {
  background-color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  &.x-nav-ul {
    overflow: hidden;
    max-height: .43rem;
    margin: 0 auto;
    &.x-nav-ul {
      @media (min-width: $lg-width) { display: table; }
    }
    &>li {
      color: $deep-gray;
      &:hover {
        color: $primary;
      }
    }
  }
  &.x-nav-ul-fluid {
    &>li>a {
      color: $deep-gray;
      &:hover {
        color: $primary;
      }
    }
  }
  &>li {
    position: relative;
    display: block;
    float: left;
    &>a {
      display: block;
      position: relative;
      padding: .1rem .15rem;
    }
  }
  &.x-nav-ul-fluid>li>a { margin: 0.08rem 0;}
}

.x-nav-container {
  position: relative;
  color: $deep-gray;
  padding: 0 .1rem;
  background-color: inherit;
  &:hover {
    color: $primary;
    .x-nav-ream {
      display: block;
    }
    .x-nav-bar {
      width: 100%;
    }
  }
  .x-nav-ream-parent {
    position: fixed;
    z-index: 1;
  }
  .x-nav-ream {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $white;
    padding: .15rem 0;
    box-shadow: 0 1px 3px $deep-gray;
  }
  .x-nav-bar {
    display: block;
    width: 0;
    height: 3px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: $primary;
    transition: width .35s ease;
  }
  .x-nav-split {
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    .x-nav-split-hor {
      display: table;
      height: 100%;
      .x-nav-split-ver {
        display: table-cell;
        vertical-align: middle;
        &::before {
          content: "|";
        }
      }
    }
  }
}
