/*  导航栏  */
@import "constant";
@import "color";

.navbar {
  min-height: .5rem;
  @media (min-width: $min-width) { min-height: .4rem; }

  &.navbar-fixed-top, &.navbar-fixed-bottom {
    z-index: $nav-index;
    position: fixed;
    left: 0;
    right: 0;

    &.navbar-fixed-top {
      top: 0;
    }

    &.navbar-fixed-bottom {
        bottom: 0;
    }
  }

  .navbar-header {
    @media (min-width: $min-width) { float: left; margin: 0; }
    @media (max-width: $min-width) { border-bottom-width: .01rem; border-bottom-style: solid; }
    display: block;
    padding: 0;
    margin-left: -.15rem;
    margin-right: -.15rem;
  }

  .navbar-toggle {
    @media (min-width: $min-width) { display: none; }
    float: right;
    font-size: .18rem;
    position: relative;
    margin-top: .09rem;
    margin-right: .14rem;
    text-transform: none;
    border-radius: .03rem;
    border: .02rem solid;
    background-color: transparent;
  }

  .navbar-nav {
    @media (min-width: $min-width) {
      float: left;
      &.navbar-right {
        float: right;
      }
    }

    display: block;
    margin: 0;
    padding: 0;

    &.navbar-right {
      display: block;
    }
  }

  .navbar-brand {
    display: block;
    float: left;
    padding: .15rem;
    line-height: .2rem;
    font-size: .18rem;
    height: .5rem;
    color: inherit;
    @media (min-width: $min-width) {
      padding-top: 0;
      padding-bottom: 0;
      line-height: .42rem;
      height: .42rem;
    }
  }

  .navbar-collapse {
    @media (min-width: $min-width) { display: block; }
    display: none;
    &.collapsing {
      height: 0;
      position: relative;
      overflow: hidden;
      transition-timing-function: ease;
      transition-duration: .35s;
      transition-property: height;
      display: block;
    }
    &.in {
      display: block;
    }
  }
}

.nav {
  list-style: none;
  margin: 0;
  &>li {
    @media (min-width: $min-width) { float: left; }
    position: relative;
    display: block;
    &>a {
      display: block;
      position: relative;
      padding: .1rem .15rem;
    }
  }
}

.navbar, .navbar-header, .navbar-collapse, .nav, .nav-ul, .nav-ul-fluid {
  &::before { content: " "; display: table; }
  &::after { content: " ";  clear: both; display: table; }
}

.navbar-toggle, .navbar-brand, .nav>li {
  opacity: .6;
  &:hover {
    opacity: 1;
  }
}

.nav-index {
  position: fixed;
  left: 0;
  right: 0;
  background-color : $white;
  box-shadow: 0 1px 3px $light-gray;
  font-size: .16rem;
  z-index: $nav-index - 1;
}

.nav-ul, .nav-ul-fluid {
  list-style: none;
  margin: 0;
  &.nav-ul {
    overflow: hidden;
    max-height: .43rem;
  }
  &>li {
    position: relative;
    display: block;
    float: left;
    color: $deep-gray;
    &:hover {
      color: $primary;
    }
    &>a {
      display: block;
      position: relative;
      padding: .1rem .15rem;
    }
  }
}

.nav-container {
  position: relative;
  color: $deep-gray;
  padding: 0 .1rem;
  &:hover {
    color: $primary;
    .nav-ream {
      display: block;
    }
    .nav-bar {
      width: 100%;
    }
  }
  .nav-ream {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: inherit;
    padding: .15rem 0;
  }
  .nav-bar {
    display: block;
    width: 0;
    height: 3px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: $primary;
    transition: width .35s ease;
  }
  .nav-split {
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    .nav-split-hor {
      display: table;
      height: 100%;
      .nav-split-ver {
        display: table-cell;
        vertical-align: middle;
        &::before {
          content: "|";
        }
      }
    }
  }
}
