@import "color";
@import "layout";
@import "nav";
@import "xanimation";
@import "effect";

html {
  font-size: 100px;
  //font-family: "Microsoft YaHei" ! important;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

body {
  font-size: .14rem;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  /*&:link {
    color: $primary;
    &:hover {
      color: $primary;
    }
  }*/
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: .05rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: .25rem;
}

h2, .h2 {
  font-size: .2rem;
}

h3, .h3 {
  font-size: .175rem;
}

h4, .h4 {
  font-size: .15rem;
}

h5, .h5 {
  font-size: .125rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

h6, .h6 {
  font-size: .1rem;
}

/*  无序列表  */
.x-ul {
  display: block;
  margin: 0;
  padding: .05rem;
  list-style: none;

  li,.x-li {
    display: list-item;
    border: 1px solid #ececec;
    border-top: 0;
    padding: .04rem;
    cursor: pointer;
    background-color: #f5f5f5;
    &:first-child {
      border-top: 1px solid #ececec;
    }
    &:hover {
      background-color: #efefef;
      color: #949494;
    }
    &.active {
      background-color: #53a2e6;
      color: $white;
    }
  }
}

/*  链接  */
.x-link {
  display: inline-block;
  color: $primary;
  cursor: pointer;
}

/*  文本  */
.x-text-default {
  display: inline-block;
  color: $deep-gray;
  cursor: default;
}

.x-text-left {
  text-align: left;
}
.x-text-right {
  text-align: right;
}
.x-text-center {
  text-align: center;
}

.x-split-left-tilt {
  display: inline-block;
  margin: 0 15px;
  &::after {
    content: "/";
  }
}

//sm md lm lg  ls xl xs(默认)
/*  字体大小  */
.x-font-sm { font-size: .12rem; }
.x-font-xs { font-size: .14rem; }
.x-font-lm { font-size: .15rem; line-height: 1.8; letter-spacing: 1px; }
.x-font-lg { font-size: .16rem; }
.x-font-ls { font-size: .18rem; }
.x-font-xl { font-size: .2rem; }

.x-code { color: $rose-red; padding: 2px 4px; background-color: #fff; font-size: 90%; }

/*  外边距   */
.x-margin-right-sm { margin-right: .05rem; }
.x-margin-right-xs { margin-right: .1rem; }
.x-margin-right-md { margin-right: .15rem; }
.x-margin-left-sm { margin-left: .05rem; }
.x-margin-left-xs { margin-left: .1rem; }
.x-margin-left-md { margin-left: .15rem; }
.x-margin-left-lm { margin-left: .20rem; }
.x-margin-top-sm { margin-top: .05rem; }
.x-margin-top-xs { margin-top: .1rem; }
.x-margin-top-md { margin-top: .15rem; }
.x-margin-bottom-sm { margin-bottom: .05rem; }
.x-margin-bottom-xs { margin-bottom: .1rem; }
.x-margin-bottom-md { margin-bottom: .15rem; }

/*  内边距   */
.x-padding-xs { padding: .10rem; }
.x-padding-md { padding: .15rem; }

/*  size  */
.x-full-width { width: 100%; }
.x-full-height { height: 100%; }

/* 布局 */
// 自适应父容器
.x-auto-parent　{
  display: block;
  height: 100%;
  width: 100%;
  position: inherit;
}
