.test1-h2{
  font-size: .2rem;
  color: yellow;
}

@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}

.xxx
{
width: 100px;
height: 100px;
animation: myfirst 5s;
animation-iteration-count: infinite;
}
