//表格
table.xo-table, .xo-table
{
  display: table;
  width: 100%;

  .xo-table-row
  {
    display: table-row;

    .xo-table-cell
    {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }

  thead
  {
    background-color: #efefef;
  }

  th, td
  {
    padding: 15px 10px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre;
    text-align: left;
    font-style: normal;
    border: 0;
  }

  th { font-weight: bold; font-size: 15px; line-height:  1.5; }
  td { font-size: 14px; line-height: 1.4; border-bottom: 1px solid #e6e6e6; }

}
