@import "../../style/color";

.xo-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #d4d4d4;
  padding: .05rem .1rem;
  font-size: .14rem;
  background-color: #fff;
  color: #656565;
  border-radius: 0.05rem;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    border-color: $primary;
    color: $primary;
  }

}

.xo-btn-xs {
  padding: .05rem .1rem;
  font-size: .14rem;
}
.xo-btn-sm {
  padding: .04rem .07rem;
  font-size: .12rem;
}
.xo-btn-md {
  padding: .06rem .12rem;
  font-size: .16rem;
}
.xo-btn-lg {
  padding: .08rem .15rem;
  font-size: .18rem;
}
.xo-btn-xl {
  padding: .1rem .18rem;
  font-size: .20rem;
}


.xo-btn:focus, .xo-btn:hover {
  text-decoration: none;
}

.xo-btn.focus {
  text-decoration: none;
}

.xo-btn:active, .xo-btn.active {
  background-image: none;
  outline: 0;
}

.xo-btn.disabled, .xo-btn:disabled {
  cursor: not-allowed;
  opacity: .65;
  border-color: #d4d4d4;
  color: #656565;
}

a.xo-btn.disabled,
fieldset[disabled] a.xo-btn {
  pointer-events: none;
}

.xo-btn-link {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $primary;
    background-color: transparent;
    border-color: transparent;
  }
  color: $primary;
  background-color: transparent;
  border-color: transparent;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    text-decoration: underline;
  }

}

.xo-btn-primary {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }

  color: $white;
  background-color: $primary;
  border-color: $primary;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    background-color: #025aa5;
    border-color: #01549b;
    color: $white;
  }

}

.xo-btn-success {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $white;
    background-color: $success;
    border-color: $success;
  }

  color: $white;
  background-color: $success;
  border-color: $success;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    background-color: #449d44;
    border-color: #419641;
    color: $white;
  }

}

.xo-btn-info {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $white;
    background-color: $info;
    border-color: $info;
  }

  color: $white;
  background-color: $info;
  border-color: $info;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    background-color: #31b0d5;
    border-color: #2aabd2;
    color: $white;
  }

}

.xo-btn-warn {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $white;
    background-color: $warn;
    border-color: $warn;
  }

  color: $white;
  background-color: $warn;
  border-color: $warn;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    background-color: #ec971f;
    border-color: #eb9316;
    color: $white;
  }

}

.xo-btn-danger {

  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:hover,
  &:disabled:active:focus,
  &:disabled:active:hover {
    color: $white;
    background-color: $danger;
    border-color: $danger;
  }

  color: $white;
  background-color: $danger;
  border-color: $danger;

  &:focus, &:active, &:hover, &:active:focus, &:active:hover {
    background-color: #c9302c;
    border-color: #c12e2a;
    color: $white;
  }

}

.xo-btn-block {
  display: block;
  width: 100%;
}

.xo-btn-block + .xo-btn-block {
  margin-top: 0.05rem;
}

input[type="submit"].xo-btn-block,
input[type="reset"].xo-btn-block,
input[type="button"].xo-btn-block {
  width: 100%;
}

//按钮组
.xo-btn-group
{
  display: inline-block;
  >.xo-btn {
    border-radius: 0;
    &:first-child { border-radius: .05rem 0 0 .05rem; }
    &:last-child { border-radius: 0 .05rem .05rem 0; }
    &:first-child:last-child { border-radius: .05rem; }
    &:nth-last-child(n+2) { border-right-width: 0; }
    &:hover{ border-width: 1px; }
  }
  &.xo-btn-ver>.xo-btn{
    display: block;
    border-width: 1px;
    width: 100%;
    &:first-child { border-radius: .05rem .05rem 0 0; }
    &:last-child { border-radius: 0 0 .05rem .05rem; }
    &:first-child:last-child { border-radius: .05rem; }
    &:nth-last-child(n+2) { border-bottom-width: 0; }
    &:hover{ border-width: 1px; }
  }
}

//下拉按钮组
.xo-btn-drop-group
{

  position: relative;
  display: inline-block;

  div:first-child
  {
    position: relative;
    display: inline-block;

    .xo-btn
    {
      display: block;
      width: 100%;
    }

    .xo-btn-drop
    {
      position: relative;
      float: left;

      >div { display: inline-block; width: 100%; }
      >div>.xo-btn { border-radius: 0; }
      &:first-child >div>.xo-btn { border-radius: .05rem 0 0 .05rem; }
      &:last-child >div>.xo-btn { border-radius: 0 .05rem .05rem 0; }
      &:first-child:last-child >div>.xo-btn { border-radius: .05rem; }
      &:nth-last-child(n+2) >div>.xo-btn { border-right-width: 0; }

      .xo-btn-drop-child
      {
        display: none;
        position: relative;
        width: 100%;
        >.xo-btn { border-radius: 0; border-width: 0; }
      }
      &:hover .xo-btn-drop-child { display: block; }

      &.xo-btn-drop-ver
      {
        float: none;
        width: 100%;
        &:first-child >div>.xo-btn { border-radius: .05rem .05rem 0 0; }
        &:last-child >div>.xo-btn { border-radius: 0 0 .05rem .05rem; }
        &:first-child:last-child >div>.xo-btn { border-radius: .05rem; }
        &:nth-last-child(n+2) >div>.xo-btn { border-bottom-width: 0; border-right-width: 1px; }
        .xo-btn-drop-child { position: absolute; left: 100%; top: 0; }
      }

    }

    .xo-btn-drop-more
    {
      position: relative;
      width: 100%;

      >div { display: inline-block; width: 100%; }
      >div>.xo-btn { border-radius: 0; }
      &:first-child >div>.xo-btn { border-radius: .05rem .05rem 0 0; }
      &:last-child >div>.xo-btn { border-radius: 0 0 .05rem .05rem; }
      &:first-child:last-child >div>.xo-btn { border-radius: .05rem; }
      &:nth-last-child(n+2) >div>.xo-btn { border-bottom-width: 0; }

      >.xo-btn-drop-more-child
      {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
      }
      &:hover >.xo-btn-drop-more-child{ display: block; }

    }

  }

}
